<base target="_blank">
<form name="videoForm">
	<div class="modal-body">
		<button class="close" type="button" ng-click="$dismiss()">&times;</button>
		<p>Insira abaixo a URL para o vídeo. Os seguintes serviços são suportados:</p>
		<ul>
			<li><a href="https://www.youtube.com/">YouTube</a></li>
		</ul>
		<div class="form-group" ng-class="{'has-error': videoForm.url.$invalid}">
			<input class="form-control" type="url" ng-model="videoUrl" name="url" required>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
		<button type="submit" class="btn btn-primary" ng-click="$close(videoUrl)" ng-disabled="videoForm.$invalid">Enviar</button>
	</div>
</form>