<form name="notifyForm">

	<div class="form-group">
		<label>Tipo</label>
		<select ng-model="dto.tipo" class="form-control" required name="tipo">
			<option ng-repeat="tipo in ['protetor', 'semelhante']" value="{{tipo}}">{{tipo|capitalize}}</option>
		</select>
	</div>
	
	<div class="form-group" ng-if="dto.tipo=='semelhante'">
		<label>Semelhança</label>
		<input type="number" ng-model="dto.semelhanca" class="form-control" required name="semelhanca" min="0" max="100">
	</div>
	
	<div class="form-group">
		<label>ID do anúncio</label>
		<input type="number" ng-model="dto.id" class="form-control" required name="id" min="1">
	</div>
	
	<div class="form-group">
		<label>Natureza</label>
		<select ng-model="dto.natureza" class="form-control" required name="natureza">
			<option ng-repeat="natureza in ['perdido', 'encontrado']" value="{{natureza}}">{{natureza|capitalize}}</option>
		</select>
	</div>
	
	<div class="form-group">
		<label>Espécie</label>
		<select ng-model="dto.especie" class="form-control" required name="especie">
			<option ng-repeat="especie in ['cachorro', 'gato']" value="{{especie}}">{{especie|capitalize}}</option>
		</select>
	</div>
	
	<div class="form-group">
		<label>Gênero</label>
		<select ng-model="dto.genero" class="form-control" required name="genero">
			<option ng-repeat="genero in ['macho', 'femea', 'naosei']" value="{{genero}}">{{genero|genero|capitalize}}</option>
		</select>
	</div>
	
	<div class="form-group">
		<label>Miniatura (URL relativa ao serviço)</label>
		<input ng-model="dto.miniatura" class="form-control">
	</div>
	
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="local">
			Local
		</label>
	</div>
	
	<button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="notifyForm.$invalid">Enviar</button>
	
</form>
<label>Dados do event stream</label>
<pre id="log">
</pre>